
h1 { 
    font-family: 'Playfair Display';
    font-size: 32px; /*change to em/rem*/
    font-weight: bold;
    letter-spacing: 3.2px;
    line-height: 40px;
    text-transform: uppercase;
}

h2 {    
    font-family: 'Playfair Display';
    font-size: 34px; /*change to em/rem*/
    font-weight: bold;
    letter-spacing: 3.2px;
    line-height: 56px;
    text-transform: uppercase;
}

h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px; /*change to em/rem*/
    font-weight: 600; /*semi bold*/
    letter-spacing: 3.6px;
    line-height: 40px;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans';
    font-size: 18px; /*change to em/rem*/
    font-weight: 400; /*regular*/
    letter-spacing: 1.26px;
    line-height: 36px;
}

.card {
    background-color: #F0F0EB;
}