

/* NAVIGATION */

.navigation {
  background-color: #F0F0EB;
  grid-area: navigation;
}

.nav {
  justify-content: center;
}

.logo_and_line {
  text-align: center;
  padding-top: 73px;
}

.logo {
  padding-bottom: 54px;
}

.logo_image {
  max-width: 382px;
}

.hero_images{
  /*grid-area: heroImages;*/
  display: flex;
  justify-content: center;
}

.hero_image {
  /*height: 629px;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  /*max-width: 464px;*/
}

.hero_image_caption {
  padding-top: 66px;
}
 
.navbar ul {
  list-style: none;
  /*display: grid;*/
  /*grid-template-columns: repeat(4,1fr);*/
  /*justify-self: center;*/
}

.nav_item a {
  font-family: 'Nunito Sans';
  color: #000;
  font-size: 18px;
  letter-spacing: 3.6px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease-out;
  padding-left: 25px; /*to evenly space out nav links - make it responsive*/
  padding-right: 25px; /*to evenly space out nav links - make it responsive*/
}

.nav_item a:hover {
  font-weight: 800;
}

.nav_no_search {
  justify-content: center;
  text-align: justify;
  display: flex;
}

