
#app {
  /*max-width: 1472px;*/ /*1920px*/
  /*margin: 0 auto;*/ /*this should center content*/
  /*margin: 0;*/
  /*padding: 0px;*/
  /*justify-items: center;
  align-items: center;
  align-content: center;*/
   /*background-color: #FAFBF8;*/
  height: 100vh; /* uses full height of screen */
  display: grid;
  background-color: purple;
  grid-template-columns: /*grid columns from XD*/
    /*220px*/ 
    1fr
    /*repeat(12, minmax(0, 86px))*/
    86px
    86px
    86px
    86px
    86px
    86px
    86px
    86px
    86px
    86px
    86px
    86px
    86px
    86px
    /*repeat(12, 86px)*/
    /*220px*/ 
    1fr
  ;
  /*column-gap: 40 px;*/ /*distance between columns based on XD*/
  grid-gap: 4px; /*gap betweeen both rows and columns*/
  /*grid-template-rows:*/ /*heights from XD*/
    /*1235px
    858px
    1307px
    230px
    906px
    608px
    528px
    1fr*/ /*85px*/ 
  /*;*/
  /*grid-template-areas:
    "navigation navigation navigation navigation navigation navigation navigation navigation navigation navigation navigation navigation"
    "philosophy philosophy philosophy philosophy philosophy philosophy philosophy philosophy philosophy philosophy philosophy philosophy"
    "newestWork newestWork newestWork newestWork newestWork newestWork newestWork newestWork newestWork newestWork newestWork newestWork"
    "categories categories categories categories categories categories categories categories categories categories categories categories"
    "testimonials testimonials testimonials testimonials testimonials testimonials testimonials testimonials testimonials testimonials testimonials testimonials"
    "followOnInsta followOnInsta followOnInsta followOnInsta followOnInsta followOnInsta followOnInsta followOnInsta followOnInsta followOnInsta followOnInsta followOnInsta"
    "footerBrowser footerBrowser footerBrowser footerBrowser footerBrowser footerBrowser footerBrowser footerBrowser footerBrowser footerBrowser footerBrowser footerBrowser"
    "copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright"
  ;*/
}

#app > div {
  background-color: royalblue;
}

.navigation {
  /*background-color: blueviolet;*/
  grid-area: navigation;
}

.philosophy {
  /*background-color: burlywood;*/
  grid-area: philosophy;
}

.newestWork {
  /*background-color: cadetblue;*/
  grid-area: newestWork;
}

.categories {
  /*background-color: crimson;*/
  grid-area: categories;
}

.testimonials {
  /*background-color: darkgray;*/
  grid-area: testimonials;
}

.followOnInsta {
  /*background-color: peru;*/
  grid-area: followOnInsta;
}

.footerBrowser {
  /*background-color: deeppink;*/
  grid-area: footerBrowser;
}

.copyright {
  /*background-color: dodgerblue;*/
  grid-area: copyright;
}

/*mobile screen width from XD - 480px is also common*/
@media screen and (max-width: 360px) {
  /*.navigation {
    background-color: black;
  }*/ /*testing media queries with color change*/
  /*.App {
    grid-template-areas:
      "navigation navigation navigation navigation"
      "philosophy philosophy philosophy philosophy"
      "newestWork newestWork newestWork newestWork"
      "categories categories categories categories"
      "testimonials testimonials testimonials testimonials"
      "followOnInsta followOnInsta followOnInsta followOnInsta"
      "footerBrowser footerBrowser footerBrowser footerBrowser"
      "copyright copyright copyright copyright"
    ;
  }*/
}

